torch @ https://download-r2.pytorch.org/whl/cpu/torch-2.13.0%2Bcpu-cp312-cp312-manylinux_2_28_x86_64.whl#sha256=4ca4a9394b0c771238a4f73590fdbbc4debad85ed0fa63d026ae1b085da7d6e2
pyaudio
openWakeWord
noisereduce
numpy
onnx_asr
webrtcvad
langchain_nvidia_ai_endpoints
langchain
setuptools<81
huggingface_hub
kokoro